@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: black;
}
.bg-img {
    background-image: url('../src/assets/hacker-transparent.svg');
    background-size: cover;
    background-position: center;
}